venv/
env/
bin/
obj/
.jdks/
.idea/
.vscode/
*.class

post-processed/
.docker/
*.log
.THypervBox/

.deepface/
*.h5
*.onnx
*.sqlite

.config/
.console-ninja/
.dbclient/
.gk/
.jupyter/
.keras/
.matplotlib/
.node_repl_history
.ssh/
.bash_history
